body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.launch-btn-group {

    text-align: center;
    resize: horizontal;
    padding-bottom: 50px;
}

.messageInfo {
    text-align: center;
    resize: horizontal;
    visibility: hidden;
}

.settings-table {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.right-container {
    text-align: right;
}

.subInfo {
    padding-right: 40px;
}

#eventTable {
    width: 100%;
}

#prodTable {
    width: 100%;
}

.back-btn-group {
    text-align: right;
    padding-bottom: 500px;
}

#gifctn1 {
    text-align: center;
}

#nextToWrapper {
    text-align: center;
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#nextToWrapper2 {
    text-align: center;
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#reminder {
    width: 80%;
    float:left; /* add this */
    text-align: right;
}
#btn-grp1 {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.quickFix {
    width: 50%;
}